/* .wel {
    margin-top: 10%;
    color: #005AAA;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 35px;
    margin-left: 34px;
} */
/* .we {
    font-size: 12px;
    margin-left: 35px;
    width: 201px;
    width: 252px;
    color: #7D848D;
} */
.rightColoumn {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(270deg, #EEF5FC 0%, #C3D9ED 100%);
  }

.distrbtr-welcome {
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    height: 692px;
    width: 393px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
}
.success-welcome{
      margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    height: 692px;
    width: 393px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #EDF4FB;
}

.main {
    overflow: hidden;
}
.enter {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
    color: #005AAA;
    margin-top: 200px;
    margin-left: 24px;
}

.password {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #7D848D;
    width: 334px;
    margin-left: 24px;
    margin-top: 20px;
}

.section {
    margin-top: 30px;
    margin-left: 24px;
}

.section label {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #7D848D;
}

.section input {
    width: 345px;
    height: 42px;
    border: 1.5px solid #C6C6C6;
    outline: none;
    box-shadow: none !important;
    border-radius: 12px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #C6C6C6;
}

.reset {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    height: 42px;
    width: 345px;
    margin-left: 24px;
    background-color: #005AAA;
    border-radius: 12px;
}

button.btn[disabled] {
    background: #C8DCEE;
    border: 1px solid #C8DCEE;
}

small {
    margin-left: 5px;
}

/* .large {
    height: 294px;
    width: 294px;
    border-radius: 12px;
    background-color: #E8E8E8;
    margin-top: 20%;
    margin-left: 45px;
} */
.success-img{
    margin-left: 19%;
    margin-top: 12%;
}


.success {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
    color: #005AAA;
    margin-top: 16%;
    margin-left: 24px;
}

.your-password {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: left;
    color: #7D848D;
    width: 314px;
    margin-left: 24px;
    margin-top: 25px;
}

.login {
    height: 42px;
    width: 345px;
    border-radius: 12px;
    background-color: #005AAA;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 25%;
    margin-left: 24px;
}
.leftArrw{
    padding: 20px;
    cursor: pointer;
}
.password-input-wrapper {
    position: relative;
  }
  
  .password-toggle-btn {
    position: absolute;
    top: 11px;
    right: 30px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .password-toggle-btn:focus {
    outline: none;
  }
  
  .password-toggle-btn i {
    font-size: 16px;
    color: #C6C6C6;
  }
  .red-class{
    color: red;
  }
  .success-page{
    background: linear-gradient(180deg, #EEF6FD -13.97%, #EDF4FB 113.2%);
  }
 