<div class="main">
    <div class="welcome">
        <div class="row">

            <div class="col-lg-6 p-0">
                <app-side-nav-section />
            </div> 

            <div class="col-lg-6 rightColoumn" *ngIf="enter">
                <div class="distrbtr-welcome">
                    <mat-icon class="leftArrw" (click)="navigateBackArrow()">keyboard_backspace</mat-icon>

                    <p class="enter">Enter New Password</p>
                    <p class="password">The password must be 8 to 15 characters and should have atleast 1 number and 1
                        letter. </p>

                        <!-- Enter password , Re-enter password-->

                    <form [formGroup]="newPasswordForm">
                        <div class="section">
                            <label>Enter password</label>
                            <div class="password-input-wrapper">
                            <input type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" placeholder="Enter password"
                                formControlName="enterpassword" maxlength="15">
                                <button class="password-toggle-btn" (click)="togglePasswordVisibility()">
                                    <i class="{{ hidePassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                                </button>
                            </div>
                                <small
                                *ngIf="(newPasswordForm.controls['enterpassword'].touched  && newPasswordForm.get('enterpassword')?.hasError('required'))"
                                class="red-class">Enter Password</small>
                                <small
                                *ngIf="(newPasswordForm.controls['enterpassword'].touched  && newPasswordForm.get('enterpassword')?.hasError('pattern'))"
                                class="red-class">Enter a Valid Password</small>
                        </div>

                        <div class="section">
                            <label>Re-enter password</label>
                            <div class="password-input-wrapper">
                            <input type="{{ showPassword ? 'password' : 'text' }}" class="form-control" placeholder="Re-enter password"
                                formControlName="repassword" maxlength="15">
                                <button class="password-toggle-btn" (click)="PasswordVisibility()">
                                    <i class="{{ showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                                </button>
                        </div>
                                <!-- <small
                                *ngIf="(newPasswordForm.controls['repassword'].touched  && newPasswordForm.get('repassword')?.hasError('required'))"
                                style="color: red;">Re-enter Password</small> -->
                                <small
                                *ngIf="(newPasswordForm.controls['repassword'].touched  && newPasswordForm.get('repassword')?.hasError('misMatch'))"
                                class="red-class">Password Must Match</small>
                                <small  class="red-class" *ngIf="errorMsg">{{errorMsg}}</small>
                        </div>
                    </form>
                    <!--------------------------------------------------------->

                    <div class="mt-5">
                        <button class="btn btn-primary reset" [disabled]="!newPasswordForm.valid || BtnDisable"
                            (click)="resetPassword()">Reset Password</button>
                    </div>
                </div>
              
            </div>



            <div class="col-lg-6 rightColoumn" *ngIf="!enter">
                <div class="success-welcome">
<!--Your password has been reset successfully! Please login again using your new password.-->

                  <div class="success-img">
                    <img src="../../assets/success-img.svg" width="250px" height="250px">
                  </div>
                  <p class="success">Success!</p>
                  <p class="your-password">Your password has been reset successfully! Please login again using your new password.</p>
                  
<!------------------------------------------------------------------------------------------->
                    <div class="mt-5">
                        <button class="btn btn-primary login" (click)="backBtn()">Back to Login</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 rightColoumn" *ngIf="resetUnsuccess">
                <div class="distrbtr-welcome">
                  <div class="large"></div>
                  <p class="success">UnSuccessFull!</p>
                  <p class="your-password">Invalid otp please reset password again!</p>
                  
                    <div class="mt-5">
                        <button class="btn btn-primary login" (click)="resetps()">Reset Password</button>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>