<div class="dialog">
    <div class="container flex">
        <mat-icon class="error">error_outline</mat-icon>
        <p class="deleted">Deleted successfully</p>
        <mat-icon  mat-dialog-close class="cross">close</mat-icon>
    </div>
    <p class="uploaded">Uploaded file was deleted successfully.</p>
    <p class="upload">You can continue to your next step.</p>
   
    <div class="container mt-4 mb-4">
      <button class="btn btn-primary okay-btn" mat-dialog-close>Okay</button>
    </div>
</div>
