<div class="container">
    <div class="info-wrapper">
        <div class="bottom-2rem mt-5">
            <h1 class="heading-style-h1 small" style="font-weight: 700; color: #005aaa;">Privacy <span class="h1-span">Policy</span><span class="h1-span"></span>
            </h1>
        </div>
        <div class="rich-text w-richtext">
            <p>Achanchal Insurtech Solutions Private Limited (referred as “Company” or
                “we” or “us” or “our") is the owner of the website domain at www.insurfin.in and other
                associated/ancillary applications, products, websites and services and all other variations and
                sub-domains of the same (referred as “Platform”); and any service availed by Associates (hereinafter
                referred to as “you”, “your” or “Associate”) through the Platform is conditioned upon your acceptance of
                the terms and conditions contained in Terms of Service as available on Platform and this privacy policy
                (“Privacy Policy”).</p>
            <p></p>
            <p>THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT FORMED UNDER ANY
                RELEVANT STATUTE OR REGULATION UNDER ANY APPLICABLE JURISDICTION, INCLUDING WITHOUT LIMITATION THE
                INFORMATION TECHNOLOGY ACT, 2000 AND THE RULES MADE THEREUNDER AND THE AMENDED PROVISIONS PERTAINING
                TO ELECTRONIC DOCUMENTS / RECORDS IN APPLICABLE STATUTES ACROSS JURISDICTIONS. THIS PRIVACY POLICY
                DOES NOT REQUIRE ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE.</p>
            <p></p>
            <p>We are committed to keeping your personal data private and secure. We process any personal data we
                collect from you in accordance with the applicable laws and regulations and the provisions of this
                Privacy Policy. We have taken considerable efforts to ensure that we only collect minimal data from
                you and only to the extent necessary in order for us to provide you with Services. </p>
            <p></p>
            <p>The purpose of this Privacy Policy is to ensure that there is an intact charter to collect, use and
                protect any personal and/or sensitive data collected by us. This Policy defines our procedure for
                collection, usage, processing, disclosure and protection of any information obtained by us through
                the Platform. Capitalized terms that are not defined in this Privacy Policy shall have the same
                meaning as ascribed to them in our Terms of Service. Any reference made to Privacy Policy in this
                document shall mean and refer to the latest version of the Privacy Policy</p>
            <p></p>
            <h3>CONSENT</h3>
            <p>THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN YOU AND THE COMPANY. THE TERMS OF THIS
                PRIVACY POLICY WILL BE EFFECTIVE UPON YOUR ACCEPTANCE OF THE TERMS OF SERVICE OR BY YOUR USE OF OUR
                SERVICES AND WILL GOVERN THE RELATIONSHIP BETWEEN COMPANY AND YOU WITH RESPECT TO THE COLLECTION AND
                TREATMENT OF INFORMATION SHARED BY YOU.</p>
            <p></p>
            <p>PLEASE READ THIS PRIVACY POLICY CAREFULLY AS IT AFFECTS YOUR RIGHTS AND LIABILITIES UNDER LAW. BY
                USING THIS PLATFORM AND AVAILING OUR SERVICES, YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT
                TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE
                THIS WEBSITE OR AVAIL OUR SERVICES.</p>
            <p></p>
            <p><strong>Please be advised that any Information procured by us, shall be:</strong></p>
            <p></p>
            <ol start="" role="list">
                <li>processed fairly and lawfully for rendering the Services;</li>
                <li>obtained only for specified and lawful purposes;</li>
                <li>adequate, relevant and not excessive in relation to the purpose for which it is required;</li>
                <li>able to be reviewed by the Associate, from time to time and updated-if need arises; and</li>
                <li>not kept longer than for the time which it is required or the purpose for which it is required
                    or as required by the applicable law.
                </li>
            </ol>
            <p></p>
            <p>If you do not agree with this Privacy Policy, you may refuse or withdraw your consent any time, or
                alternatively choose to not provide us with any Personal Information, you understand that under such
                circumstance, we may be unable to render Services. Any such intimation to withdraw your consent can
                be sent to help@insurfin.in.</p>
            <p></p>
            <p>WE SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE SUSTAINED BY REASON OF ANY DISCLOSURE (INADVERTENT OR
                OTHERWISE) OF ANY DATA, IF THE SAME IS EITHER (A) REQUIRED FOR SHARING YOUR INFORMATION FOR
                LEGITIMATE PURPOSES; OR (B) WAS CAUSED THROUGH NO FAULT, ACT, OR OMISSION OF THE COMPANY.</p>
            <p></p>
            <h3>TYPES OF INFORMATION COLLECTED BY US</h3>
            <ul role="list">
                <li>“Personal Data” means and includes any Information that relates to a natural person through
                    which an individual is identified, such as the name, email id, country of origin or any other
                    information relevant to product choice and preferences provided by a Associate, including but
                    not limited to information gathered through availing Services.
                </li>
                <li>“Sensitive Personal Data” means and includes information relating to (i) financial information
                    such as bank account or other payment instrument&nbsp;details.
                </li>
                <li>“Technical Information” means and includes any Information gathered through various technologies
                    that may employ cookies or similar technologies to automatically record certain information from
                    your device through which you use the Platform. This technical information may include your
                    Internet Protocol (IP) address.
                </li>
                <li>"Non-Personal Information” means and includes any information that does not reveal your specific
                    identity, such as, browser information, information collected through Cookies (as defined
                    below), pixel tags and other technologies, demographic information, etc. As is true with most
                    websites, our Company gathers some information automatically when you visit the Platform. When
                    you use the Platform, we may collect certain information about your computer or mobile to
                    facilitate, evaluate and verify your use of the Platform. For example, we may store
                    environmental variables, such as browser type, operating system, speed of the central processing
                    unit (CPU), referring or exit web pages, click patterns. This information is generally collected
                    in aggregate form, without identifying any Associate individually.
                </li>
            </ul>
            <p></p>
            <p><strong>(The Personal Data, Sensitive Personal Data, Technical Information, and Non-Personal
                    Information are collectively referred to as “Information").</strong></p>
            <p></p>
            <h4>COLLECTION OF INFORMATION</h4>
            <ol start="" role="list">
                <li>Information may be collected in various ways including during the course of you registering as a
                    Associate on the Platform, or availing certain Services offered on the Platform. &nbsp;We may
                    receive Information about you from third-party platform, such as social media platforms,
                    marketing and advertising firms, commercially available sources and business partners to whom
                    you have consented disclosure of such Information.
                </li>
                <li>Please do note that each category of Information may be treated differently as per this Privacy
                    Policy.
                </li>
            </ol>
            <p></p>
            <h4>PURPOSE FOR COLLECTING OF INFORMATION</h4>
            <p><strong>The Company collects, uses, stores and processes your Information for any purpose as may be
                    permissible under applicable laws (including where the applicable law provides for such collection,
                    usage, storage or processes in accordance with the consent of the Associate) and shall include the
                    following:</strong></p>
            <p></p>
            <ol start="" role="list">
                <li>to render Services and facilitate your use of the Platform;</li>
                <li>to respond to your inquiries or fulfil your requests for information about the various Services
                    offered on the Platform;
                </li>
                <li>to provide you with information about Services available on the Platform and to send you
                    information, materials, and offers;
                </li>
                <li>to send you important information regarding the Platform, changes in terms and conditions, user
                    agreements, and policies and/or other administrative information;
                </li>
                <li>to send you surveys and marketing communications;</li>
                <li>to improve user experience</li>
                <li>to help you address your problems incurred on the Platform including addressing any technical
                    problems;
                </li>
                <li>to protect the integrity and for proper administering of the Platform;</li>
                <li>to conduct academic research, surveys, analytical studies on various aspects including user
                    behaviour, user preferences etc.;
                </li>
                <li>to respond to legal, judicial, quasi-judicial process and provide information to law enforcement
                    agencies or in connection with an investigation on matters related to public safety, as
                    permitted by law;
                </li>
                <li>to implement information security practices;</li>
                <li>to determine any security breaches, computer contaminant or computer virus;</li>
                <li>to investigate, prevent, or take action regarding illegal activities and suspected fraud,</li>
                <li>to enable a potential buyer or investor to evaluate the business of the Company.</li>
                <li>Business or Research Purposes: The Information saved and except Sensitive Personal Information,
                    is used for business or research purposes, including improving and customizing the Platform for
                    ease of use and the products and services offered by us. We may archive this information to use
                    it for future communications for providing updates and/or surveys.
                </li>
                <li>Aggregating Information / Anonymized data: We may aggregate Information and analyse it in a
                    manner to further accentuate the level of services that we offer to our customers. This
                    Information includes average number of Associates of the Platform, the average clicks of the
                    services/, the features used, the response rate, etc. &nbsp;and other such statistics regarding
                    groups or individuals. In doing so, we shall not be making disclosures of any Sensitive Personal
                    Information as defined above.
                </li>
            </ol>
            <p><strong>[Individually and collectively referred to as ("Legitimate Purposes")]</strong></p>
            <p></p>
            <h4><strong>CUSTOMER ONBOARDING</strong></h4>
            <p>Customer of the Associate (“Customer”) agrees and consents to the Company’s Privacy Policy which you
                have duly read and fully understood. You acknowledge, agree, and give consent to the Company that
                Company and its officers, employees, service providers and agents may use, store, process, disclose,
                transfer (whether within or outside India) and / or exchange your information (including personal
                data) in accordance our Policy.</p>
            <p></p>
            <p>Customer hereby authorises and permits to disclose, from time to time, any information on or relating
                to them to any of its subsidiaries or affiliates or to any governmental authority, statutory
                authority, judicial authority or credit bureaus, associated partners, lenders, whether in India or
                any other jurisdiction, or Reserve Bank of India or third party or Company’s consultants, advisors
                or service providers as provided in Company’s Privacy Policy, without requirement for any further
                consent from the Customer.</p>
            <p></p>
            <p>Customer understand that our lending partners may retrieve/ procure/download your Know Your Customer
                (“KYC”) data/ details from the central KYC registry for the purposes of verifying/establishing the
                data/details/identity and you hereby allow us/them to do so.</p>
            <p></p>
            <p>By onboarding with the Company, the Customer consent to the use of their information as outlined in
                our Privacy Policy as available on its website. The Customer agrees to provide any further
                information and details on the Platform or to the Associates as is required for rendering the
                Services, from time to time.</p>
            <p></p>
            <h4>SHARING AND DISCLOSURE OF YOUR INFORMATION</h4>
            <ol start="" role="list">
                <li>We do not rent, sell or disclose or share any Information that we collect from you, with third
                    parties, save and except in order to provide you with the Services. Any such disclosure, if
                    made, shall be in accordance to this Privacy Policy and as per the procedure prescribed by law
                    and in compliance with our legal obligations. We may share your Information in circumstances and
                    for the purposes as specified hereunder:
                </li>
                <li>We shall share the information to the third-party service providers/ vendors, to provide you
                    with the Services.
                </li>
                <li>We may disclose any Information provided by you on the Platform as may be deemed to be necessary
                    or appropriate:
                </li>
                <li>under applicable law, including laws outside your country of residence;</li>
                <li>to comply with legal process;</li>
                <li>to respond to requests from public and government authorities including public and government
                    authorities including public and government authorities outside your country of residence;
                </li>
                <li>to protect our operations or those of any of our affiliates;</li>
                <li>to protect our rights, privacy, safety or property, and/that of our affiliates, you or others;
                </li>
                <li>to allow us to pursue available remedies or limit the damages that we may sustain; or</li>
                <li>to protect against legal liability;</li>
                <li>to protect the personal safety of Associates of the Platform;</li>
                <li>to prevent or investigate possible wrongdoing in connection with the Platform.</li>
            </ol>
            <p><strong>‍</strong></p>
            <p><strong>Merger or Acquisition:</strong> We may share Information upon merger or acquisition of
                Company with another company. We shall transmit and transfer the Information upon acquisition or
                merger of Company with another company.</p>
            <p></p>
            <p><strong>With our service providers:</strong> We may share Information with other service providers on
                a need to know basis, subject to obligations of confidentiality for provision of Services. We hereby
                clarify that we work with institutions, vendors, partners, advertisers, and other service providers,
                including (but not limited) to those who provide products or services such as contact Information
                verification, website hosting, data analysis, providing infrastructure, information technology
                services, auditing services and other similar services, in different industries and categories of
                business by virtue of lawful contracts instituted between such third parties and Company to improve
                our product and services. Accordingly, we may share your Information with such service provider in
                order to provide you with Services.</p>
            <p></p>
            <p><strong>Employees /Agents of Company: </strong>We follow a strict confidentiality policy with regard
                to disclosure of confidential information to our employees or other personnel. There may be
                situations, where we may disclose the confidential information only to those of our employees and
                other personnel on a need to know basis. Any breach of confidential information by the employees,
                personnel within the Company is dealt with stringently by us.</p>
            <p></p>
            <p>Except for the Information disclosed pursuant to this section, Company may share Information only if
                you authorize us to do so.</p>
            <p></p>
            <h3>LINK TO OTHER WEBSITES AND THIRD-PARTY SERVICES</h3>
            <ol start="" role="list">
                <li>Our Platform may provide links to other sites. These links are provided for your convenience
                    only and the provision of these links does not mean that sites are related or associated with
                    us. Please note that these sites have their own terms of use and privacy policy. You should
                    check their privacy policy before you submit Your Personal Information or any other data with
                    them. We don’t guarantee the content and the security of those sites.
                </li>
                <li>We may have certain features on our Platform which may be hosted by third parties, your
                    interaction with such features shall be governed by the privacy policy of such third parties.
                </li>
                <li>We shall not be responsible for any loss, damage, claim or expense caused as a result of you
                    accessing these third-party sites and features.
                </li>
                <li>We may use your Information to send you promotional Information about third parties which, we
                    think you may find interesting, if you tell us that you wish this to happen. We shall not be
                    responsible for any disclosure of Information due to unauthorized third-party access or other
                    acts of third parties or acts or omissions beyond our reasonable control and you agree that you
                    will not hold us responsible for any breach of security unless such breach has been caused as a
                    direct result of our negligence or wilful default. &nbsp;
                </li>
                <li>We use support services of third-party platforms and/or companies to direct you to payment
                    gateways when you opt to pay for our Services. Your financial information is collected, stored
                    and retained by such third-party platforms. We and such designated third-party platforms
                    undertake measures designed to provide a security level that is appropriate to the risks of
                    processing your personal information. However, you are requested to check and consent to the
                    “Privacy Policy” of such third-party platforms in order to accept how such third-party platforms
                    handle your Information.
                </li>
            </ol>
            <p></p>
            <h3>CHILDREN’S PRIVACY</h3>
            <p>Our Services are not meant to be used by Children (as defined by applicable privacy laws for a
                particular jurisdiction). We do not knowingly collect Personal Information relating to children and
                if you think that Your child has provided this kind of information on our Platform, we strongly
                encourage you to contact us immediately and we will take reasonable steps to promptly remove or
                destroy such information.</p>
            <p></p>
            <h3>DATA PROTECTION RIGHTS</h3>
            <p><strong>You have certain rights available to you when it comes to your Personal Information. Subject
                    to any exemptions provided by the applicable laws, you have the following rights:</strong></p>
            <p></p>
            <ol start="" role="list">
                <li><strong>Rectifying, correcting, updating and removing Your information:</strong>-You can access,
                    edit, modify and/or update your Personal Information by logging into your user profile or you
                    can write to us via email in case you wish to exercise this right.
                </li>
                <li><strong>Accessing and updating or deleting Your information:-</strong>Our Services and related
                    documentation on our Platform provide you with the ability to access, update and delete certain
                    Personal Information from your Account, if any. We will provide you with information about
                    whether we hold any of your Personal Information upon request. We will respond to such requests
                    within a reasonable timeframe. Please note, however, that we may need to retain certain
                    information for record keeping purposes, to complete our Services and related obligations to you
                    or to comply with our legal obligations.
                </li>
                <li><strong>Object or restrict processing of Your information</strong>:-You have the right to: <br>(i)
                    object to our processing of your Personal Information; and/or <br>(ii) request that we restrict
                    the processing of your Personal Information.
                </li>
                <li><strong>Portability:-</strong>You shall have the right to request us to transfer Your Personal
                    Information to another controller, or directly to you, in a structured, commonly used and
                    machine-readable format.
                </li>
            </ol>
            <p><strong>In order to exercise these rights, please contact us on help@insurfin.in.</strong></p>
            <p></p>
            <h3><strong>STORAGE AND TRANSFER OF INFORMATION</strong></h3>
            <p><strong>‍</strong>Your Information will primarily be stored in electronic form; provided, however,
                that certain data can also be stored in physical form. We primarily store all Information within the
                territory of India. If your Information is transported outside the territorial jurisdiction of
                India, we will provide you due notice of such transfer. We may enter into agreements with third
                parties (in or outside of India) to store or process your information or data. These third parties
                may have their own security standards to safeguard your information or data and we will on
                commercial reasonable basis require from such third parties to adopt reasonable security standards
                to safeguard your information / data.</p>
            <p></p>
            <h3><strong>COOKIES AND OTHER TRACKING TECHNOLOGIES</strong></h3>
            <p>Our Platform may utilize “cookies” and other Technical Information. “Cookies” are a small text file
                consisting of alphanumeric numbers used to collect the Information about Platform activity. The
                Technical Information helps us analyse web traffic and helps you by customizing the Platform to your
                preferences. Cookies in no way gives us access to your computer or mobile device. In relation to
                Cookies, you can deny access to the installation of the Cookies by modifying the settings on your
                web browser, however, this may prevent you from taking full advantage of the Platform.Our use of
                Cookies and Technical Information allows us to improve Platform and your experience of Platform and
                Services. We may also analyse Technical Information that does not contain Sensitive Personal
                Information for trends and statistics.</p>
            <p></p>
            <h3><strong>DATA RETENTION</strong>‍</h3>
            <p>We will retain your Information for as long as your Account is active or as needed to provide our
                Services. We shall retain and use the Information collected by us as necessary to comply with our
                legal obligations, resolve disputes or for other Legitimate Purposes. If you cancel/ deactivate/
                unsubscribe your account with us, we are not under any obligation to retain your Information.
                However, may retain the Information pertaining to the Associate for the maximum period permitted
                under the law of the land from the date of deactivation of Associate’s Account.</p>
            <p></p>
            <h3><strong>SECURITY MEASURES AND SAFEGUARDS</strong>‍</h3>
            <p>You agree and accept that your Information may be stored in third-party cloud service infrastructure
                providers. While all reasonable attempts have been taken from our end to ensure the safe and secure
                storage of your data, we shall not be liable for any data breach on the part of the third-party
                cloud service infrastructure provider that was beyond our control. In addition to the security
                measures put in place by the third-party cloud service infrastructure provider for safe and secure
                storage of your Information, we use certain physical, managerial, technical or operational
                safeguards as per industry standards and established best practices to protect the Information we
                collect. We use reasonable security practices and procedures and use secure servers as mandated
                under applicable laws for the protection of your Information. We review our Information collection,
                storage, and processing practices, including physical security measures to guard against
                unauthorized access to systems. However, as effective as these measures are, no security system is
                impenetrable. We cannot guarantee the security of our database, nor can we guarantee that the
                Information you supply will not be intercepted while being transmitted to us over the internet.
                However, since the internet is not a 100% secure environment, we on best effort basis ensures the
                security of any information the Associate transmits to us and that the information may not be
                accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or
                managerial safeguards. Please note that e-mails and other communications the Associate sends to us
                through our Platform are not encrypted, and we strongly advise the Associate not to communicate any
                confidential information through these means.</p>
            <p></p>
            <h3><strong>DO NOT SELL</strong>‍</h3>
            <p>We do not sell your Personal Data in the conventional sense (i.e., for money). However, like many
                companies, we use services that collect information from You (to deliver advertisements to You for
                example) and this may classify this use as a “sale” of your Personal Data, You can request to
                opt-out out of this “sale”, if you direct us not to sell your Personal Information, we will stop
                sharing your personal information if required by submit a written request to us via email at
                help@insurfin.in. You must put the statement “Sale of Information- Opt-out) in your request and
                include your name, street address, city, state, and ZIP code. We are not responsible for notices
                that are not labelled or sent properly, or do not have complete information.</p>
            <p></p>
            <h3><strong>UPDATES TO THIS PRIVACY POLICY</strong>‍</h3>
            <p>We may change the data privacy practices and update this Privacy Policy as and when the need arises,
                and the same will be made available on the Platform. But our commitment to protect your privacy will
                continue to remain. We suggest that you regularly check this Privacy Policy to apprise yourself of
                any updates. Your continued use of Platform and Services or provision of Information thereafter will
                imply your unconditional acceptance of such updates to this Privacy Policy. Further, we retain the
                right at any time to deny or suspend access to all, or any part of, the service to anyone who we
                reasonably believe has violated any provision of this Privacy Policy.</p>
            <p></p>
            <h3><strong>MISCELLANEOUS</strong></h3>
            <p>ENFORCEABILITY OF THE REMAINDER OF THIS PRIVACY POLICY. THIS PRIVACY POLICY DOES NOT APPLY TO ANY
                INFORMATION OTHER THAN THE INFORMATION COLLECTED BY US THROUGH THE PLATFORM. THIS PRIVACY POLICY
                SHALL BE INAPPLICABLE TO ANY UNSOLICITED INFORMATION YOU PROVIDE US THROUGH THE PLATFORM OR THROUGH
                ANY OTHER MEANS. ALL UNSOLICITED INFORMATION SHALL BE DEEMED TO BE NON-CONFIDENTIAL AND WE SHALL BE
                FREE TO USE AND/ OR DISCLOSE SUCH UNSOLICITED INFORMATION WITHOUT ANY LIMITATIONS. THE RIGHTS AND
                REMEDIES AVAILABLE UNDER THIS POLICY MAY BE EXERCISED AS OFTEN AS NECESSARY AND ARE CUMULATIVE AND
                NOT EXCLUSIVE OF RIGHTS OR REMEDIES PROVIDED BY LAW. RIGHTS UNDER THIS POLICY MAY BE WAIVED ONLY IN
                WRITING. DELAY IN EXERCISING OR NON-EXERCISE OF ANY SUCH RIGHT OR REMEDY DOES NOT CONSTITUTE A
                WAIVER OF THAT RIGHT OR REMEDY, OR ANY OTHER RIGHT OR REMEDY.</p>
            <p></p>
            <p><strong>Please feel free to reach out to us by e-mail at help@insurfin.in in case of any concerns,
                    grievances, or questions relating to our privacy or data related practices</strong></p>
            <p></p>
            <h3>GRIEVANCE OFFICER</h3>
            <p>In furtherance of the applicable laws including but not limited to Information Technology Act, 2000
                (“IT Act”) and the Information Technology (Intermediary Guidelines and Digital Media Ethics Code)
                Rules, 2021 (“Intermediary Guidelines”) a grievance officer is appointed to ensure compliance with
                the IT Act and the Intermediary guidelines. </p>
            <p><strong>Name</strong>: Chittaranjan Savadi</p>
            <p><strong>Email: </strong>chittaranjan.savadi@insurfin.in </p>
            <p></p>
            <p>The grievance officer shall revert to every complaint within 24 hours of receipt of the complaint.
                Further, the Company shall take best possible efforts to redress the complaint within 15 days of
                receipt of the complaint. Any suggestions by Company regarding use of the Services shall not be
                construed as a warranty.</p>
        </div>
    </div>
</div>