.error {
    color: #C42728;
    position: relative;
    top: 5px;
    left: -21px;
}
.container{
    padding: 20px;
}
.please-confirm {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #041427;
   

}
.changes-saved{
    color: #7D848D;
    font-size: 14px;
    font-weight: 400;
}
.yes{
    /* margin-left: 54%; */
    background-color: #005AAA;
    width: 134px;
    height: 52px;
    border-radius: 12px;
    /* margin-top: -60px; */
    margin-bottom: 10px;
    margin-left: 20px;
    color: white !important;
    font-size: 16px;
    font-weight: 700;
}
.cancel{
    width: 134px;
    /* margin-top: -11px; */
    border: 1px solid #005AAA; 
    height: 52px;
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
    border-radius: 12px;
    color: #005AAA !important;
    background-color: white !important;
    font-size: 16px;
    font-weight: 700;
    /* color: #005AAA;  */
}

.close{
    float: right;
    margin-right: 6px;
    margin-top: -45px;
    color: #0358A8;
}