<div class="main">
    <div class="welcome">
        <div class="row">

            <div class="col-lg-6 p-0">
                <app-side-nav-section />
            </div>
            
            <div class="col-lg-6 rightColoumn" *ngIf="reset">
                <div class="distrbtr-welcome">
                    <mat-icon class="leftArrw" routerLink="/login2">keyboard_backspace</mat-icon>
                    <div class="reset-ps">
                    <p class="reset">Reset Password</p>
                    <p class="registered">Please enter your registered phone number below in order to change your password.
                    </p>
                </div>
                 <!-- this is for set password -->
                 <!-- <div class="set-ps" *ngIf="setps" >
                    <p class="reset">Welcome !</p>
                    <p class="registered">Enter your phone number to login.</p>
                </div> -->
                    <div>
                        <form [formGroup]="resetPasswordForm">
                            <label class="mobile-number mt-3">Mobile Number</label>
                            <div class="input-wrapper">
                                <input type="tel" class="form-control inpPhn" formControlName="phoneNum"
                                    placeholder="Enter your Mobile Number" #input
                                    maxlength="10">
                                <span>{{ input.value && isNumber(input.value) ? '+91 ' : '' }}</span>
                            </div>
                            <small
                                *ngIf="(resetPasswordForm.controls['phoneNum'].touched   && resetPasswordForm.get('phoneNum')?.hasError('required'))"
                               class="red-class"> phone number is Required</small>
                            <small
                                *ngIf="(resetPasswordForm.controls['phoneNum'].touched  && resetPasswordForm.get('phoneNum')?.hasError('pattern'))"
                                class="red-class"> Enter Valid phone number</small>
                                <p *ngIf="errormessage" class="red-class">{{errormessage}}</p>
                            <div class="mt-3">
                                <button class="btn btn-primary send-code" (click)="sendVerification()"
                                    [disabled]="!resetPasswordForm.valid || BtnDisable">Send Verification Code</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>


            <div class="col-lg-6 rightColoumn" *ngIf="!reset">  
                <div class="distrbtr-welcome container">
                    <mat-icon class="leftArrw" (click)="resetKey()">keyboard_backspace</mat-icon>

                    <div class="container">
                        <p class="reset-password">Reset password</p>
                        <p class="otp">We’ve sent an OTP to your registered mobile number. The code will be valid for 15 minutes.</p>
                        <p class="get-code">Didn't get the code? <span class="send-again" (click)=" sendAgain()" 
                            [ngClass]="{'disabled': isDisabled, 'sendColor': !isDisabled}"  >Send Again in <b>{{minutes}}:{{seconds|number:'2.0'}}</b></span></p>
                    </div>

                    <div class="otpclss mt-5 container">
                        <ngx-otp-input [config]="otpInputConfig" (otpChange)="handleOtp($event)"
                            (fill)="handleFill($event)"  [ngStyle]="{'border':message ==='true'? '1 px solid red':'' }" #ngxotp>
                        </ngx-otp-input>
                        <p *ngIf="message" class="text-danger">{{message}}</p>

                    </div>
                    <!-- <button class="btn btn-primary contn container " [disabled]="!otpfill" *ngIf="setps" (click)="otpValidContinue()" >Continue</button> -->
                    <button class="btn btn-primary contn container " [disabled]="!otpfill || BtnDisable" (click)="otpValidContinue2()">Continue</button>
                </div>


            </div>



        </div>
    </div>
</div>