
.rightColoumn {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(270deg, #EEF5FC 0%, #C3D9ED 100%);
}

.distrbtr-welcome {
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    height: 692px;
    width: 393px;
    margin-top: 5%;
    background-color: #ffffff;
    margin-bottom: 5%;
}

.main {
    overflow: hidden;
}
.reset {                                   
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #005AAA;
    margin-left: 22px;
    margin-top: 66%;
}
.reset-password{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #005AAA;
    margin-left: -4px;
    margin-top: 66%;
    
}
.reset-ps{
    margin-top: 66%;
}
.set-ps{
    margin-top: 66%;
}
.registered {
    margin-left: 25px;
    color: #7D848D;
    font-size: 16px;
    font-weight: 400;
}

.inpPhn {
    width: 345px;
    margin-left: 21px;
    height: 42px;
    border-radius: 12px;
}

.inpPhn::placeholder {
    color: #C6C6C6;
    font-size: 16px;
    font-weight: 400;
}

input.ng-touched.ng-invalid {
    border: 1.5px solid red;
    margin-bottom: 8px;
}

input.ng-touched.ng-valid {
    border: 1.5px solid #C8DCEE;
    margin-bottom: 8px;
}

.email-id {
    margin-left: 24px;
    color: #7D848D;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
}

.send-code {
    width: 345px;
    height: 45px;
    margin-top: 64px;
    margin-left: 25px;
    background-color: #005AAA;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

button.send-code[disabled] {
    background: #C8DCEE;
    border: 1px solid #C8DCEE;
}

.form-control {
    outline: none;
    box-shadow: none !important;
}

.otp {   
    margin-left: -2px;
    color: #7D848D;
    font-size: 16px;
    margin-top: -10px;
    font-weight: 400;
}

.get-code { 
    margin-left: -1px;
    color: #7D848D;
    font-size: 16px;
    margin-top: 22px;
    font-weight: 400;
}

.send-again {
   
    font-size: 16px;
    font-weight: 700;
    color: #2791E0;
    margin-left: 10px;
    

}
:host ::ng-deep.ngx-otp-input {  
    background: rgba(237, 244, 251, 0.5);
    border: 1px solid #005AAA !important;
    border-radius: 12px !important;
    width: 52px !important;
    height: 52px !important;
    margin-left: -13px;
    margin-right: 9px;
}
.otpclss{
    margin-left:14px;
}
.contn{
    width: 345px;
    margin-top: 14%;
    border-radius: 12px;
    height: 45px;
    margin-left: 13px;
    background-color: #005AAA;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}
button.contn[disabled] {
    background: #C8DCEE;
    border: 1px solid #C8DCEE;
}
.leftArrw {
    padding: 20px;
    cursor: pointer;
  }
  input.ng-touched.ng-invalid {
    border: 1.5px solid red;
    margin-bottom: 8px;
}

input.ng-untouched {
    border: 1.5px solid #C6C6C6;
}

input.ng-valid {
    border: 1.5px solid #C6C6C6
}
.disabled {
    color: #C8DCEE;
    cursor: not-allowed;
}
.red-class{
    color: red;
    margin-left: 27px;
}
.sendColor{
    color: #2791E0;
    font-weight: 700;
    font-size: 16px;
    padding-left: 9px;
    cursor: pointer;

}
.input-wrapper {
    position: relative;
  }

  .input-wrapper input[type="tel"] {
   padding-left: 38px;
    /* adjust the padding to make room for the icon */
  }

  .input-wrapper span {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    color: #7D848D;
    font-size: 16px;
  }
  .mobile-number{
    color: #7D848D;
    font-size: 12px;
    font-weight: 400;
    margin-left: 27px;
  }