<div class="main">
    <div class="welcome">
        <div class="row">
            <div class="col-lg-6 p-0">
                <app-side-nav-section />
            </div>
            <div class="col-lg-6 rightcoloumn">
                <div class="distrbtr-welcome mb-4">
                    <div class="back-arrow">
                        <mat-icon class="leftArrw" (click)="OnClick()">keyboard_backspace</mat-icon>
                    </div>
                    <div class="container main-content" *ngIf="!signUpOtpPage">
                        <div class="container">
                            <h1 class="head-text">Set up Password</h1>
                            <p class="signup-Text">Welcome to Insurfin!</p>
                            <p class="signup-password">Please set up your password to continue.</p>
                        </div>
                        <form [formGroup]="SignupFormgroup">
                            <div class="section container mt-3">
                                <label class="email-id">Email</label>
                                <div>
                                    <input type="email" formControlName="email" class="form-control inpPhn"
                                        placeholder="Enter Email">

                                </div>
                                    
                                    <small
                                        *ngIf="(SignupFormgroup.controls['email'].touched   && SignupFormgroup.get('email')?.hasError('required'))"
                                        class="error-msg"> Email is Required</small>
                                    <small
                                        *ngIf="(SignupFormgroup.controls['email'].touched  && SignupFormgroup.get('email')?.hasError('pattern'))"
                                        class="error-msg"> Enter Valid Email</small>
                            </div>
                            <div class="section container mt-3">
                                <label class="password-label">Enter password</label>
                                <div class="password-input-wrapper">
                                    <input type="{{ hidePassword ? 'password' : 'text' }}"
                                        class="form-control password-input inpPhn" placeholder="Enter password"
                                        formControlName="enterpassword" maxlength="15" minlength="8">
                                    <i class="{{ hidePassword ? 'fa fa-eye-slash' : 'fa fa-eye' }} eyeImg"
                                        (click)="togglePasswordVisibility()"></i>
                                    <small *ngIf="SignupFormgroup.controls['enterpassword'].touched && 
                                (SignupFormgroup.get('enterpassword')?.hasError('required') || 
                                SignupFormgroup.get('enterpassword')?.hasError('invalidPassword'))" class="error-msg">
                                        {{ SignupFormgroup.get('enterpassword')?.hasError('required') ? 'Password isrequired' :
                                        'Password does not match the criteria'}}
                                    </small>
                                </div>

                            </div>

                            <div class="section container mt-3">
                                <label class="password-label">Re enter password</label>
                                <div class="password-input-wrapper">
                                    <input type="{{ showPassword ? 'password' : 'text' }}"
                                        class="form-control password-input inpPhn" placeholder="Re-enter password"
                                        formControlName="repassword" maxlength="15" minlength="8">
                                    <i class="{{ showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }} eyeImg"
                                        (click)="PasswordVisibility()"></i>
                                    <small
                                        *ngIf="(SignupFormgroup.controls['repassword'].touched  && SignupFormgroup.get('repassword')?.hasError('misMatch'))"
                                        class="error-msg">Password Must Match</small>
                                        <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
                                </div>

                            </div>
                        </form>
                        <div class="mt-5 container">
                            <!-- <p class="loginMsg " (click)="loginWithMobile()">Login with mobile instead</p> -->
                            <button class="btn btn-primary btn1" [disabled]="!SignupFormgroup.valid"
                                (click)="signupContinue()" [ngClass]="{'disabled-button-color': !SignupFormgroup.valid}">Sign
                                up</button>
                        </div>
                    </div>
                    <!-- sigup otp page  -->

                    <div class="otp-page" *ngIf="signUpOtpPage">

                        <div class="container otp-content">
                            <div class="container">
                                <p class="verify">Verify email</p>
                            </div>
                            <div class="container mt-4">
                                <p class="otp-mb">We sent the OTP to</p>
                                <!-- <p class="email-otp">shubham.dhawan@gmail.com.</p> -->
                                <p class="code-expires">The code will expire in 15 minutes</p>
                                <!-- <img class="pencil" src="../../assets/PencilSimple.svg"> -->
                            </div>

                            <!-- <p class="the-code">The code will expire in <b>{{minutes}}:{{seconds|number:'2.0'}}</b></p> -->
                            <p class="code">Didn't get the code?
                                 <span [ngClass]="{'disabled': isDisabled, 'sendColor': !isDisabled}">Send again <span *ngIf="this.isDisabled">in  <b>{{minutes}}:{{seconds|number:'2.0'}}</b></span></span></p>


                            <div class="otpclss mt-5">
                                <ngx-otp-input [config]="otpInputConfig" (otpChange)="handleOtp($event)"
                                    (fill)="handleFill($event)">
                                </ngx-otp-input>

                            </div>

                            <div>
                                <small style="color: red;">{{errorMessage}}</small>
                                <!-- <small class="errorMessage" *ngIf="message"> {{message}}</small> -->
                            </div>
                            <div class="container">
                                <button class="btn btn-primary btn2" [disabled]="!otpfill"
                                    (click)="signupContinue()">Continue</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>