.main {
  overflow: hidden;
}

.distrbtr-welcome {
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  width: 393px;
  height: 720px;
  margin-top: 5%;
  position: relative;
  background-color: #ffffff;
}

.rightcoloumn {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  background: linear-gradient(270deg, #EEF5FC 0%, #C3D9ED 100%);
}

.signup-Text {
  color: #7D848D;
font-size: 16px;
font-weight: 400;
  color: #7D848D;
}
.signup-password{
  color: #7D848D;
font-size: 16px;
font-weight: 400;
  margin-top: -10px;
  color: #7D848D;
}

.head-text {
  color: #005AAA;
  font-size: 32px;
font-style: normal;
font-weight: 700;

}

.back-arrow {
  margin: 20px;
}

.main-content {
  margin-bottom: 20%;
  position: absolute;
  bottom: 0;

}

.password-toggle-btn {
  position: absolute;
  top: 11px;
  right: 30px;
  border: none;
  background: none;
  cursor: pointer;
}

.eyeImg {
  position: relative;
  bottom:30px;
  left: 84%;
  color:#C6C6C6;
}

.btn1 {
  height: 48px;
  height: 48px;
  border-radius: 12px;
  width: 345px;
  background-color: #005AAA;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

.loginMsg {
  color: #2791E0;
text-align: center;
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

.btn2 {
  height: 48px;
  border-radius: 12px;
  width: 345px;
  margin-top: 35%;
  background-color: #005AAA;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  /* margin-left: 10px; */
}

.verify-email {
  color: #005AAA;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.verify {
  color: #005AAA;
  margin-top: 53px;
  font-size: 32px;
  font-weight: 700;
}

.otp-mb {
  font-size: 16px;
  width: 305px;
  margin-left: 4px;
  color: #7D848D;
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 10px;
}

.pencil {
  margin-top: -3px;
  margin-left: -27px;
  cursor: pointer;
}

.the-code {
  font-size: 16px;
  width: 305px;
  margin-left: 6px;
  color: #7D848D;
  font-weight: 400;
}

.code {
  margin-top: 20px;
  color: #7D848D;
  font-size: 16px;
  font-weight: 400;
  margin-left: 17px;
}

.disabled {
  color: #C8DCEE;
  cursor: not-allowed;
}
.disabled-button-color{
  color: #C8DCEE;
  border:1px solid #C8DCEE
}

.sendColor {
  color: #2791E0;
  font-weight: 700;
  font-size: 16px;
  padding-left: 9px;
  cursor: pointer;

}

.errorMessage {
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

.email-otp {
  color: #7D848D;
  font-size: 16px;
  font-weight: 700;
  margin-left: 4px;
}
.code-expires{
  color: #7D848D;
  font-size: 16px;
  font-weight: 400;
  margin-top: -10px;
  margin-left: 4px;
}
.btn2 {
  height: 48px;
  border-radius: 12px;
  width: 345px;
  margin-top: 35%;
  background-color: #005AAA;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}
button.btn2[disabled] {
  background: #C8DCEE;
  border: 1px solid #C8DCEE;
}
:host ::ng-deep.ngx-otp-input {  
  background: rgba(237, 244, 251, 0.5);
  border: 1px solid #005AAA !important;
  border-radius: 12px !important;
  width: 52px !important;
  height: 52px !important;
  margin-left: -13px;
  margin-right: 9px;
}
.otpclss{
  margin-left:18px;
}
.email-id{
  color: #7D848D;
font-size: 12px;
font-weight: 400;

}
.password-label{
  color: #7D848D;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
input{
  border-radius:12px;
  width: 345px;
  height:45px;
  color: #7D848D;
}
.error-msg{
  color:red;
}
input.ng-touched.ng-invalid {
  border: 1.5px solid red;
  /* margin-bottom: -18px; */
}

input.ng-untouched {
  border: 1.5px solid #C6C6C6;
}

input.ng-valid {
  border: 1.5px solid #C6C6C6
}
input::placeholder {
  color: #C6C6C6;
  font-size: 16px;
  font-weight: 400;
}
.inpPhn {
  /* color: #041427; */
  outline: none;
  box-shadow: none !important;
  height: 42px;
  border-radius: 12px;
}
.inpPhn:focus {
  border: 1.5px solid #005AAA;
}