
        <div class="d-flex container">
            <img class="img" src="../../../assets/CheckCircle.svg">
            <h4 class="success">Success!</h4>
            <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        </div>
            <p class="your-email">Your email address has been verified successfully.</p>

        <div class="container mt-4 mb-3">
            <button class="continueBtn btn btn-primary" mat-dialog-close>Continue</button>
        </div>
   
