<div class="morepopup" class="container">

    <div class="more-actions">
        <h1 class="more-actions">More Actions</h1>
        <mat-icon class="bottomcrossicon" (click)="close()">close</mat-icon>
    </div>
    <div class="top container">
        <div class="editdeleteicons">
            <img src="../../../../assets/PencilSimple.svg">
            <p class="icons-tags" (click)="editdetails()">Edit Details</p>
        </div>
        <div class="horizontal-line">
            <hr>
        </div>
        <div class="editdeleteicons">
            <img src="../../../../assets/Trash.svg">
            <p class="icons-tags" (click)="deletepraposal()">Delete Proposals</p>
        </div>
        <div class="horizontal-line">
            <hr>
        </div>
        <div class="editdeleteicons">
            <img src="../../../../assets/Trash (1).svg">
            <p class="icons-tags" (click)="deletecustomer()">Delete Customer</p>
        </div>
    </div>
</div>

