 <div *ngIf="documentType==='aadhaarFront'">
    <div class="container aadhar-flex">
        <p class="aadhar">Aadhar Front</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

<div *ngIf="documentType==='aadhaarBack'">
    <div class="container aadhar-flex">
        <p class="aadhar">Aadhaar Back</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

<div *ngIf="documentType==='panFront'">
    <div class="container aadhar-flex">
        <p class="aadhar">PAN Front</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

<div *ngIf="documentType==='cancelledCheque'">
    <div class="container aadhar-flex">
        <p class="aadhar">Cancelled Cheque</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

 <div *ngIf="documentType==='bankStatement'">
    <div class="container aadhar-flex">
        <p class="aadhar">Bank Statement</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

 <div *ngIf="documentType==='gst'">
    <div class="container aadhar-flex">
        <p class="aadhar">GST Certificate</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

 <div *ngIf="documentType==='incometax'">
    <div class="container aadhar-flex">
        <p class="aadhar">Income Tax Return</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

 <div *ngIf="documentType==='certificateincorporation'">
    <div class="container aadhar-flex">
        <p class="certificate">Certificate of Incorporation</p>
        <mat-icon class="cross" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>



<div *ngIf="documentType==='distributorAadharFront'">
    <div class="container aadhar-flex">
        <p class="aadhar">Aadhar Front</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

<div *ngIf="documentType==='distributorAadharBack'">
    <div class="container aadhar-flex">
        <p class="aadhar">Aadhaar Back</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

<div *ngIf="documentType==='distributorPanFront'">
    <div class="container aadhar-flex">
        <p class="aadhar">PAN Front</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

<div *ngIf="documentType==='distributorCancelledCheque'">
    <div class="container aadhar-flex">
        <p class="aadhar">Cancelled Cheque</p>
        <mat-icon class="close" mat-dialog-close>close</mat-icon>
    </div>
    <div class="img-bg">
        <img [src]="data.imageUrl" class="uploaded-img">
    </div>
</div>

