.greentick-img {
    color: #C42728;
    position: absolute;
    left: -10px;
    top: 20px;
}

.reminder-popup {
    margin-left: 35px;
    font-size: 18px;
    font-weight: 700;
    color: #041427;
    cursor: pointer;
}
.upload-documents{
    color: #7D848D;
    font-size: 14px;
    font-weight: 400;
    width: 321px;
    padding-top: 0px;
    line-height: 1.5;
}
.close{
    float: right;
    margin-right: 30px;
    margin-top: -54px;
    color: #0358A8;
    cursor: pointer;
}
.reminder-popup img{
    height: 24px;
    width: 24px;
    margin-bottom: 7px;
}
.mdc-dialog__actions {
    min-height: 15px;
}