<div class="confirm-dialog">
    <div class="container flex">
        <mat-icon class="error-outline">error_outline</mat-icon>
        <p class="add-new">Please confirm</p>
        <mat-icon  mat-dialog-close class="cross-icon">close</mat-icon>
    </div>
    <p class="are-you">Are you sure you want remove current address?</p>
    <div class="container mt-4 mb-4">
        <button class="cancel-btn" mat-dialog-close>Cancel</button>
        <button class="btn btn-primary yes-btn" mat-dialog-close="yes">Yes</button>
    </div>
</div>