
<div class="dialog">
    <div class="container flex">
        <mat-icon class="error">error_outline</mat-icon>
        <p class="add-new">Please confirm</p>
        <mat-icon  mat-dialog-close class="cross">close</mat-icon>
    </div>
    <p class="detected">Are you sure you want to remove <b>{{userName}}</b>.? This will also close any existing proposals.</p>
    <div class="container mt-4 mb-4">
        <button class="re-btn">Cancel</button>
        <button class="btn btn-primary yes-btn">Yes</button>
    </div>
</div>
