<!-- we have pop-up about : Please Confirm ,Are you sure you want to go back? Your changes will not be saved.-->
<div class="confrm-pop container">
 <div class="mt-2"> <h1 class="please-confirm"><mat-icon class="error">error_outline</mat-icon>Please Confirm</h1></div>
<mat-icon class="close" mat-dialog-close>close</mat-icon>
<div class="changes-saved">
  <p>Are you sure you want to go back? Your changes will not be saved.</p></div>
<div >
  <button  mat-dialog-close class="btn btn-outline-primary cancel">Cancel</button>
  <button mat-button class="btn btn-primary yes" (click)="yesbtn()">Yes</button>
</div>
</div>
<!-----------------Pop-Up--------------------->
